<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" href="/static/css/style.css" >
    <link rel="shortcut icon" href="static/images/morda.jpg" type="image/x-icon">
</head>
<body>

<div id="templatemo_wrapper">

    <div id="templatemo_header">
        <div id="site_title">
            <a href="{{url_for('main')}}"><img src="images/logotip.png" alt="Супер-котики" /><span>и где они обитают</span></a>
        </div>
    </div>

    <div id="templatemo_main">

        <div id="templatemo_sidebar">

            <div id="templatemo_menu">
                <ul>
                    <li><a href="{{url_for('main')}}" >Главная</a></li>
                    <li><a href="{{url_for('chat')}}" class="current">Чат</a></li>
                    <li><a href="{{url_for('reg')}}">Регистрация</a></li>
                </ul>
            </div>

            <div class="sidebar_box">
                <h3>Вход</h3>
                <div class="news_box">

                    {{globlog}}
                    {%if globlog==None %}
                    <form method="POST" action="/">
                        <input type="text" name="login" placeholder="Логин" class="login ">
                        <input type="password" name="password" placeholder="Пороль" class="login ">
                        <button type="submit" class="login-button" >Войти</button>
                    </form>
                    {%else%}
                    <form method="GET" action="/logout">
                        <input type="submit" value="выйти">
                    </form>
                    {%endif%}

                    <div class="cleaner"></div>
                </div>



            </div>

        </div>

        <div id="templatemo_content">
            {%if globlog==None%}
            <p>Чтобы начать диалог, авторизируйтесь!</p>
            {%else%}
            <div id="forma">
                <p><b>Привет, {{globlog}}, напиши сообщение!<br></b></p>
                <form method="post" action="/add_message">
                    <input type="text" name="sms" placeholder="Сообщение">
                    <input type="text" name="n" placeholder="Имя">
                    <button type="submit">Добавить сообщение</button>
                </form>
            </div>

            <div id="spisok">
                <div>Список сообщений:</div>
                {%for i in messagemas%}
                <div>{{i.n}}: {{i.sms}} </div>
                {%endfor%}
            </div>
            {%endif%}

            <div class="cleaner_h40"></div>
        </div>

        <div class="cleaner"></div>
    </div>

    <div id="templatemo_footer">
        Copyright © 2048 SuperCat
    </div>

    <div class="cleaner"></div>

</div>


</body>
</html>