{%extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}


{%block title%}Main{%endblock%}

{%block body%}
{{ super() }}
<div>Местное время {{ moment(current_time).format('LLL', refresh=True) }}</div>
<div>Это было {{ moment(current_time).fromNow(refresh=True) }}</div>
<div>Привет, {% if name %} {{ name }} {% else %} Аноним{% endif %}!</div>

<form method="POST" action="/">
    {{ form.name.label }}  {{ form.name() }} {{ form.submit() }}
</form>

<!--{{ wtf.quick_form(form) }}-->

{%endblock%}

{% block scripts %}
{{ super() }}
{% endblock %}

